.box{
    display: flex;
    flex-direction: row;
    
}

.contenedor{
    display: flex;
    gap: 1rem;
    
}

.carro{

    display: flex;
}
.Carrito1{
    display: flex;
    flex-direction: row;
    align-items: center;
   
}
#servicios{
    display: flex;
}
.centro{
margin-left: 50px;   
  
}

